aiofiles
aiohttp
beautifulsoup4
Flask
gitpython
gunicorn
hachoir
heroku3
lyricsgenius
motor
ntgcalls
pillow
psutil
PyTgCrypto
python-dotenv
requests
speedtest-cli
spotipy
unidecode
uvloop==0.21.0
werkzeug
kurigram>=2.2.13
git+https://github.com/TheChampu/TheAPI
